<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

  <div id="wrapper">
    <div class="main-content">
      <div class="header">
        <img src="https://i.imgur.com/zqpwkLQ.png" />
      </div>
      <div class="l-part">
        <%= f.email_field :email, :placeholder => "Email", :class => "input-1" %>
        <%= f.text_field :username, :placeholder => "Username", :class => "input-1" %>
        <%= f.password_field :password, :placeholder => "Password", :class => "input-2" %>
        <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "input-2" %>
        <%= f.submit "Sign Up", :class => "btn" %>
      </div>
    </div>
    <div class="sub-content">
      <div class="s-part">
        Already have an account? <%= link_to "Log In", new_user_session_path %>
      </div>
    </div>
  </div>
<% end %>
